run with `popstrucure` env

In [1]:
import os
import pandas as pd
import numpy as np

Unable to determine R home: [Errno 2] No such file or directory: 'R'

In [2]:
proj_dir="/master/nplatt/sch_hae_scan"
results_dir="{}/results".format(proj_dir)

os.chdir(proj_dir)

In [3]:
info_df=pd.read_csv("{}/data/seq_and_sample_docs/all_sh_sb_sample_data.csv".format(proj_dir), sep=",")

# Read Counts

In [6]:
Path("{}/read_counts".format(results_dir)).mkdir(parents=True, exist_ok=True)
os.chdir("{}/read_counts".format(results_dir))

In [7]:
pca_df=pd.read_csv("../initial_pca/pca_df.csv")

In [8]:
pca_df

,sample_name,1,2,3,4,5,6,7,8,9,...,locale,host,phenotype,project,data_type,lat,lon,kmeans_group,pca_species,kmeans_label
0,Sb_NG_au_1.2,-0.174693,0.025622,0.001506,0.004149,0.035574,0.055396,0.032718,-0.019520,0.007569,...,na,cow,bovis,nigeria,genome,7.067448,6.271139,2,s_bovis,sb
1,Sb_NG_au_2.10,-0.173848,0.025251,0.001886,0.005161,0.036499,0.060013,0.032135,-0.019021,0.003526,...,na,cow,bovis,nigeria,genome,7.067448,6.271139,2,s_bovis,sb
2,Sb_NG_au_2.13,-0.174493,0.025294,0.001699,0.001562,0.037332,0.060250,0.030712,-0.022199,0.003399,...,na,cow,bovis,nigeria,genome,7.067448,6.271139,2,s_bovis,sb
3,Sb_NG_au_2.5,-0.173862,0.025171,0.003061,-0.001638,0.037943,0.059797,0.031391,-0.015780,0.000577,...,na,cow,bovis,nigeria,genome,7.067448,6.271139,2,s_bovis,sb
4,Sb_NG_au_2.6,-0.173011,0.025618,0.001527,0.005455,0.038614,0.061741,0.032516,-0.022343,0.009809,...,na,cow,bovis,nigeria,genome,7.067448,6.271139,2,s_bovis,sb
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166,ssp_niger_libore_167,0.023482,-0.078226,-0.011342,-0.059942,0.017520,-0.043266,0.041449,-0.016997,0.021684,...,na,snail,unk,scan_africa,genome,13.390080,2.197110,0,s_haematobium,sh_nw
167,ssp_niger_libore_168,0.022237,-0.077112,-0.019412,-0.059978,0.006374,-0.004766,0.030555,-0.041763,0.080463,...,na,snail,unk,scan_africa,genome,13.390080,2.197110,0,s_haematobium,sh_nw
168,ssp_niger_libore_169,0.023857,-0.073894,-0.020205,-0.050080,0.015119,-0.015182,0.038133,-0.019263,0.036911,...,na,snail,unk,scan_africa,genome,13.404170,2.188020,0,s_haematobium,sh_nw
169,ssp_niger_libore_173,0.026630,-0.083945,-0.003698,-0.069531,-0.009745,-0.085123,0.095988,-0.108937,0.082528,...,na,snail,unk,scan_africa,genome,13.404170,2.188020,0,s_haematobium,sh_nw
170,ssp_zambia_kafue_71,0.053261,0.112131,-0.096936,-0.011639,-0.039766,0.015451,0.005055,-0.002872,-0.008524,...,na,snail,unk,scan_africa,genome,-15.783442,28.172582,1,s_haematobium,sh_se

In [13]:
samples = list(pca_df["sample_name"])

In [47]:
n_pe_reads=[]

for sample in samples:
    with open(f"../mapped_reads/{sample}_pe_flagstat.txt", 'r') as f:
        n_pe_reads.append(int(f.readline().split(" ")[0]))

In [48]:
df=pd.DataFrame( {
    "sample": samples,
    "n_reads": n_pe_reads
})

df

                   sample    n_reads
0            Sb_NG_au_1.2  109193706
1           Sb_NG_au_2.10  102243048
2           Sb_NG_au_2.13  104043468
3            Sb_NG_au_2.5  114372638
4            Sb_NG_au_2.6  123193534
..                    ...        ...
166  ssp_niger_libore_167  123567536
167  ssp_niger_libore_168  140618992
168  ssp_niger_libore_169  187160350
169  ssp_niger_libore_173  156497084
170   ssp_zambia_kafue_71  173360774

[171 rows x 2 columns]

In [10]:
public_samples= ['bovis_ethiopia_SRR13579874',
                 'bovis_keyna_SRR13579878',
                 'bovis_senegal_SRR13579876',
                 'bovis_tanzania_ERR103048',
                 'bovis_tanzania_SRR7867225',
                 'bovis_tanzania_SRR7867226',
                 'guineensis_saotome_ERR119612',
                 'intercalatum_drcongo_ERR119613',
                 'margrebowiei_zambia_ERR310940',
                 'matthei_zambia_ERR103051']

In [50]:
counts=np.array(df[~df['sample'].isin(public_samples)]["n_reads"])

In [52]:
np.mean(counts)/2

71412010.30124223

In [53]:
df.to_csv("read_counts.csv", sep=",", header=True, index=False)